/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* General */

figure {
  margin: 0;
}

body, html {
	font-family: 'Source Sans Pro', sans-serif;
  background-color: #EEEEEE;
}

a {
  font-weight: 700;
  color: #23a4cc;
  text-decoration: none;
}

p {
  font-size: 0.875em;
  line-height: 1.25em;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 1.3125em;
  font-weight: 700;
  line-height: 1.3125em;
  padding-bottom: 10px;
}

h3, h4 {
  font-size: 1em;
  padding: 10px 0;
}

h5 {
  font-size: 0.625em;
  text-transform: uppercase;
  padding-bottom: 6px;
}

/* Header area */

.main-header {
  width: 100%;
  overflow-x: hidden;
  margin: auto;
}

.header-wrapper {
  width: 100%;
}

.logo {
  width: 100%;
  background-color: #DDDDDD;
}

.logo img {
  width: 100%;
}

nav {
  width: 96%;
  padding: 0 2%;
  background-color: #DDDDDD;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li{
  display: inline-block;
  text-align: center;
  width: 100%;
  padding: 20px 0;
  border-bottom: 1px solid;
  border-color: #cfcacb;
}
nav ul li a {
  font-weight: bold;
  color: #222222;
}

.nav-selected {
  color: #ff1256;
}

/* Main area */

main {
  width: 96%;
  padding: 0 2%;
  margin: auto;
  clear: both;
}

.hero-area {
  width: 100%;
  padding-top: 25px;
  padding-bottom: 15px;
  border-bottom: 1px solid;
  border-color: #cfcacb;
}

.top-img {
  margin-bottom: 15px;
}

.top-img img {
  width: 100%;
}

.sidebar-newsletter {
  width: 100%;
  padding-bottom: 20px;
  border-bottom: 1px solid;
  border-color: #cccccc;
}

.signup-mail {
  width: 100%;
  border: 1px solid;
  border-color: #e6e6e6;
  height: 35px;
  margin-bottom: 5px;
}

.signup-btn {
  width: 100%;
  background-color: #ff1256;
  height: 35px;
  border-top: 0px;
  border-left: 0px;
  border-color: #d19aaa;
  font-size: 1.125em;
  font-weight: 700;
  text-transform: uppercase;
  color: #FFFFFF;
}

.sidebar-about-us {
  display: none;
}

.sidebar-faqs {
  display: none;
}

.feed {
  width: 100%;
}

#news-header {
  padding-bottom: 0;
}

.feed-item {
  width: 100%;
  overflow: auto;
  padding-top: 15px;
  padding-bottom: 20px;
  border-bottom: 1px solid;
  border-color: #CCCCCC;
}

.feed-img {
  width: 42%;
  float: left;
  margin: 0 10% 0 0;
  border: 2px solid;
  border-color: #cfcacb;
}

.feed-img img {
  width: 100%;
}

.feed-text {
  width: 45%;
  float: left;
}

.feed-text h4 {
  padding: 0;
}

.feed-body {
  display: none;
}

/* Footer area */

footer {
  width: 100%;
  margin: auto;
  padding-top: 15px;
}

.footer-logo {
  width: 47.5%;
  margin: auto;
}

.footer-logo img {
  width: 100%;
}


/* Subpages */

/* About Us */

.contact-summary {
  padding: 30px 0;
}

.contact-info {
  width: 100%;
}

.contact-info ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.contact-info ul li {
  display: inline-block;
  font-size: 1em;
  line-height: 1.125em;
  padding-bottom: 15px;
}

.strong {
  font-weight: 700;
  vertical-align: top;
}

.contact-data {
  vertical-align: top;
}

.map {
  position: relative;
  width: 98%;
  padding-bottom: 75%;
  /*height: 200px;*/
  border: 2px solid;
  border-color: #cfcacb;
  overflow: hidden;
}

.map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.mission {
  width: 100%;
}

.mission p {
  line-height: 1.25em;
  padding-bottom: 1.25em;
}

.team {
  width: 100%;
  border-bottom: 1px solid;
  border-color: #cfcacb;
  overflow: auto;
}

.team-member {
  padding-bottom: 15px;
  overflow: auto;
}

.team-img {
  width: 43%;
  float: left;
  margin: 0 10% 0 0;
  border: 2px solid;
  border-color: #cfcacb;
}

.team-img img {
  width: 100%;
}

.team-info {
  width: 45%;
  float: left;
}

.team-name {
  font-weight: 700;
  line-height: 1.125em;
}

.team-title {
  line-height: 1.125em;
}

.team-description {
  display: none;
}

/* FAQs */

.faq-title {
  width: 100%;
  padding-top: 30px;
}

.faq-title h2 {
  padding-bottom: 0;
}

.faq-question {
  width: 100%;
  border-bottom: 1px solid;
  border-color: #cccccc;
}

.question-title {
  font-weight: normal;
  line-height: 1.125em;
  padding-top: 20px;
}

.question-contact {
  padding: 20px 0;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

/* Tablet design */
@media only screen and (min-width: 766px) {

  /* Global Styles */

  h2 {
    font-size: 1.5em;
    font-weight: 700;
    line-height: 1.375em;
  }

  h3 {
    font-size: 1.3125em;
    line-height: 1em;
    padding-top: 20px;
  }

  h4 {
    font-size: 1.125em;
    line-height: 1.25em;
    padding-top: 20px;
  }

  h5 {
    font-size: 0.75em;
  }

  /* Header */
  .header-wrapper {
    width: 100%;
    overflow: auto;
    background-color: #DDDDDD;
    position: relative;
  }

  .logo {
    width: 38%;
    padding-left: 2%;
    padding-right: 0;
    float: left;
  }

  nav {
    position: absolute;
    top: 40%;
    left: 40%;
    vertical-align: middle;
    width: 58%;
    padding-left: 0;
    padding-right: 2%;
    float: left;
  }

  nav ul {
    padding-left: 35%;
  }

  nav ul li{
    text-align: center;
    width: 39%;
    padding-right: 10%;
    border-bottom: 0px;
    padding-top: 0px;
  }

  nav ul li img {
    width: 1.25em;
  }

  /* Main content */

  main {
    overflow: auto;
  }

  .hero-area {
    width: 100%;
    overflow: auto;
    padding-bottom: 35px;
  }

  .top-img {
    width: 59%;
    float: left;
    border: 3px solid;
    border-color: #000000;
  }


  .top-story-area {
    width: 38%;
    padding: 0 0 0 2%;
    float: left;
  }

  .top-story-area h2 {
    line-height: 1;
  }

  .top-story {
    line-height: 1.375em;
  }

  .sidebar {
    width: 40.7%;
    padding: 0;
    float: right;
  }

  .sidebar-newsletter{
    width: 98%;
    padding: 0 0 20px 2%;
  }

  .signup-mail {
    width: 99%;
    border: 3px solid;
    border-color: #e6e6e6;
    height: 28px;
  }

  .signup-btn {
    width: 100%;
    border-bottom: 3px solid;
    border-right: 3px solid;
    border-color: #d19aaa;
    height: 38px;
  }

  .sidebar-link {
    position: relative;
    margin-top: 15px;
    width: 100%;
    background-color: #b21e49;
    border-bottom: 3px solid;
    border-right: 3px solid;
    height: 38px;
    border-top: 0px;
    border-left: 0px;
    border-color: #bababa;
    font-size: 1.125em;
    font-weight: 700;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    vertical-align: center;
  }

  .sidebar-link a {
    padding-top: 20%;
    line-height: 38px;
    vertical-align: middle;
    color: #FFFFFF;
  }

  .sidebar-about-us {
    width: 98%;
    padding: 0 0 20px 2%;
    display: block;
    border-bottom: 1px solid;
    border-color: #cccccc;
  }

  .sidebar-faqs {
    width: 98%;
    padding: 0 0 20px 2%;
    display: block;
    border-bottom: 1px solid;
    border-color: #cccccc;
  }

  .feed {
    width: 59%;
    float: left;
    border-right: 1px solid;
    border-color: #cccccc;
  }

  .feed-item {
    width: 90%;
    padding-left: 2%;
    padding-right: 8%;
    overflow: auto;
  }

  .feed-img {
    width: 30%;
    float: left;
    margin: 0 10% 0 0;
  }

  .feed-text {
    width: 55%;
    float: left;
  }

  /* Footer Area */

  footer {
    border-top: 1px solid;
    border-color: #cccccc;
    padding-top: 30px;
  }

  .footer-logo {
    width: 26%;
    margin: auto;
  }

  /* Subpages */

  /* About Us */

  .contact-summary {
    width: 100%;
    border-bottom: 1px solid;
    border-color: #CCCCCC;
    padding-top: 50px;
    padding-bottom: 50px;
    overflow: auto;
  }

  .contact-info {
    width: 35%;
    padding: 0 5% 0 0;
    float: left;
  }

  .map {
    width: 59%;
    float: left;
    padding-bottom: 44.25%;
    height: 0px;
  }

  .mission {
    padding-top: 25px;
    padding-bottom: 10px;
    border-bottom: 1px solid;
    border-color: #CCCCCC;
  }

  .mission p {
    line-height: 1.375em;
    padding-bottom: 1.375em;
  }

  .team {
    padding-bottom: 25px;
  }

  .team h2 {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .team-img {
    width: 15%;
    float: left;
    margin: 0 10% 0 0;
  }

  .team-info {
    width: 73%;
    float: left;
  }

  .team-info h3 {
    padding: 0 0 5px 0;
  }

  .team-name {
    font-size: 1.125em;
  }

  .team-title {
    font-size: 1em;
    line-height: 1.125em;
  }

  /* FAQs */

  .faq-title {
    padding-top: 50px;
    margin-bottom: -10px;
    line-height: 4.5em;
  }

  .faq-title h2 {
    padding-bottom: 0;
  }

  .faq-question {
    width: 100%;
    border-bottom: 1px solid;
    border-color: #cccccc;
  }

  .question-title {
    font-size: 1.125em;
    line-height: 1em;
    padding-top: 30px;
    padding-bottom: 20px;
  }

  .question-contact {
    padding: 20px 0 40px 0;
  }

}

/* Desktop Design */

@media only screen and (min-width: 940px) {

  /* Maximum width */
  header, main, footer {
    max-width: 1200px;
  }

  /* Global Styles */

  h2 {
    font-size: 2.25em;
    font-weight: 700;
    line-height: 2.25em;
  }

  h3 {
    font-size: 1.875em;
    line-height: 1em;
  }

  h4 {
    font-size: 1.3125em;
    line-height: 1.25em;
  }

  p {
    font-size: 1em;
  }

  /* Header area */

  .header-wrapper {
    max-width: 1200px;
  }

  .logo {
    width: 35%;
  }

  nav {
    width: 58%;
    float: left;
    top: 45%;
  }

  nav ul {
    padding-left: 33%;
  }

  nav ul li{
    width: 25%;
    padding-right: 5%;
  }

  /* Main area */

  .hero-area {
    width: 60%;
    float: left;
    overflow: auto;
  }

  .top-img {
    width: 99%;
    float: none;
  }

  .top-story-area {
    width: 100%;
    padding: 0 0 0 0;
    float: none;
  }

  .sidebar {
    width: 35%;
    padding: 0 0 0 5%;
    float: left;
  }

  #news-header {
    font-size: 1.125em;
  }

  .feed {
    width: 100%;
    border: 0px;
    float: none;
    overflow: auto;
    padding-bottom: 50px;
  }

  .feed-item {
    padding-left: 0;
  }

  .feed-img {
    width: 18%;
    float: left;
    margin: 0 5% 0 0;
  }

  .feed-text {
    width: 76%;
    float: left;
  }

  .feed-text h4 {
    padding-bottom: 15px;
  }

  .feed-body {
    display: block;
  }

  #last-feed {
    border: 0px;
  }

  /* Footer Area */

  footer {
    padding-top: 30px;
  }

  .footer-logo {
    width: 20%;
    margin: auto;
  }

  /* Subpages */

  /* About Us */

  .contact-info {
    width: 35%;
    padding: 0 5% 0 0;
    float: left;
  }

  .contact-info h2 {
    font-size: 1.875em;
    line-height: 1.875em;
  }

  .contact-info ul li {
    font-size: 1.3125em;
    line-height: 1.3125em;
  }

  .map {
    width: 45%;
    padding-bottom: 33.75%;
  }

  .mission {
    width: 95%;
    padding-right: 5%;
  }

  .mission h2 {
    padding: 0;
  }

  .mission p {
    line-height: 1.375em;
    padding-bottom: 1.375em;
  }

  .team {
    padding-bottom: 50px;
  }

  .team h2 {
    padding: 0;
  }

  .team-img {
    width: 20%;
    margin-right: 3%;
  }

  .team-info {
    width: 71%;
    padding-right: 5%;
  }

  .team-name {
    font-size: 1.3125em;
    line-height: 1.125em;
  }

  .team-title {
    padding-bottom: 20px;
  }

  .team-description {
    font-size: 1em;
    line-height: 1.375em;
    padding-bottom: 1.375em;
    display: block;
  }

}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
